.hobbyList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.hobbyList > * {
  flex-basis: 25%;
  text-align: center;
  white-space: pre-wrap;
  margin: 1rem;
  max-width: 10rem;
}

.hobby>* {
  margin-bottom: 0.5rem;
}