@media print {
  .cv {
    display: none;
  }

  .printButton {
    display: none !important;
  }
}

.cv {
  width: 80%;
  max-width: 800px;

  margin-left: auto;
  margin-right: auto;
}

.cv>* {
  margin-bottom: 4rem;
}

.printButton {
  position: fixed !important;
  bottom: 1.5rem;
  right: 1.5rem;
}